

/*****Resetar Formatações do Navegador*****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #333;
}

/***HEADER***/
#topo {
    background-color: bisque;
    width: 80%;
    margin: 0 auto;
    height: 100px;
    border-radius: 20px;
}
#topo h1 {
    text-align: center;
    color: red;
    background-color: bisque;
}
#topo h2 {
    text-align: center;
}
/***MENU***/
#menu {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
}

#menu ul li {
    display: inline-block;
    list-style: none;
    /*largura do botão*/
    width: 100px;
    background-color: coral;
    border-radius: 3px;
    /*altura do botão*/
    height: 40px;
    padding: 10px 0;
}
#menu ul {
    text-align: center;
    margin-top: 20px;
    margin-top: 15px; 
}
/***MAIN***/
.destaque ul{
    display: flex;
    flex-wrap: wrap;
}
.destaque ul li{
    width:46% ;
    display: flex;
    flex-direction: column;
    margin: 2%;
    align-items: center;
}

.destaque ul li img{
    border-radius: 20%;
    width: 80%;
    height: 230px;
}
.destaque ul li img:hover{
    border-bottom: 10px solid black;
    border-right: 10px solid blueviolet;
}



.destaque h2 {
    color: blue;
}
/***SOBRE***/
.sobre h3 {
    color: red;
}

